[submodule "vendor/libgit2"]
	path = vendor/libgit2
	url = https://github.com/nodegit/libgit2.git
[submodule "vendor/http_parser"]
	path = vendor/http_parser
	url = https://github.com/nasd/http-parser
[submodule "test-repo3"]
	path = test-repo3
	url = https://github.com/vicenter-gitkraken/test-repo3.git
